#who-am-i {
    margin: 4em 0;
    h2 {
        min-width: 308px;
        font-size: 9rem;
        letter-spacing: -5px;
        line-height: 90%;
        text-align: right;
        opacity: 0;
    }
    span {
        display: inline-block;
        text-transform: capitalize;
    }
    span:last-child {
        font-size: 2.1em;
        margin-left: -0.14em;
    }
    p {
        display: inline-block;
        color: inherit;
        width: clamp(255px, 35%, 415px);
        line-height: 150%;
        transform: translateX(100%);
    }
}

#see-my-work {
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
    }
    &::before {
        border-width: 4px 4px 0 0;
        transition: width 0.3s ease, height 0.3s 0.3s ease;
    }
    &::after {
        border-width: 0 0 4px 4px;
        transition: width 0.3s 0.3s ease, height 0.3s ease;
    }
    &:hover {
        &::before,
        &::after {
            width: 0;
            height: 0;
        }
        &::before {
            transition: width 0.3s 0.3s ease, height 0.3s ease;
        }
        &::after {
            transition: width 0.3s ease, height 0.3s 0.3s ease;
        }
    }
}

section.view-about {
    #who-am-i {
        h2 {
            animation: titleAnim 1s ease both;
        }
        p {
            transform: translateX(0);
            opacity: 1;
            transition: 0.8s ease-in-out 1s;
        }
    }
}

@keyframes titleAnim {
    0% {
        transform: translateY(100%) rotateX(30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% -1400px;
        opacity: 1;
    }
}