#about-me {
    color: var(--color1);
    background: var(--color3);
}

#who-am-i {
    margin: 4em 0;
    h2 {
        min-width: 308px;
        font-size: 9rem;
        letter-spacing: -5px;
        line-height: 90%;
        text-align: right;
    }
    span {
        display: inline-block;
    }
    span:last-child {
        font-size: 2.1em;
        margin-left: -0.14em;
    }
    p {
        display: inline-block;
        color: var(--color1);
        width: clamp(255px, 35%, 415px);
        line-height: 150%;
    }
}

#see-my-work {
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
    }
    &::before {
        border-width: 4px 4px 0 0;
        transition: width 0.3s ease, height 0.3s 0.3s ease;
    }
    &::after {
        border-width: 0 0 4px 4px;
        transition: width 0.3s 0.3s ease, height 0.3s ease;
    }
    &:hover {
        &::before,
        &::after {
            width: 0;
            height: 0;
        }
        &::before {
            transition: width 0.3s 0.3s ease, height 0.3s ease;
        }
        &::after {
            transition: width 0.3s ease, height 0.3s 0.3s ease;
        }
    }
}