#contact {
  display: grid;
  grid-template-areas: 'contact nav' 'source top';
  justify-content: space-evenly;
  justify-items: center;
  align-items: baseline;
  padding: 1em 0;
  @include mq(700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    grid-area: contact;
  }
  nav {
    grid-area: nav;
    @include mq(700px) {
      text-align: center;
      width: 60%;
      border: 2px solid black;
      border-width: 2px 0;
    }
    li {
      font-size: 1.2em;
      padding: 4px 3px;
      margin: 3px auto;
    }
  }
  h2 {
    font-size: 2.1em;
    text-align: center;
  }
  ul {
    list-style-type: none;
    font-size: 1.1em;
    margin: 0.5em 0 1em 0;
    li i {
      font-size: 1.5em;
      padding-left: 0.4em;
    }
  }
  a {
    position: relative;
    transition: 0.5s ease;
    flex-direction: row;
    padding: 0.3em;
  }
  a:hover {
    filter: drop-shadow(2px 4px 6px black);
  }
  #source-code {
    margin: 0.5em 0;
    grid-area: source;
  }
  #top {
    grid-area: top;
  }
}