.header {
    transform: translateX(-100%);
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background: red;
    padding: 2em 1em;
    transition: 1s ease;
}

nav a {
    display: block;
    font-size: clamp(54px, 17vw, 90px);
    color: #fff;
    margin: 2vh auto;
    border-bottom: 1px solid;
    text-shadow: 3px 3px 0px black;
    transform: skewX(-10deg);
    &:hover,
    &:focus,
    &:active {
        text-shadow: none;
    }
}

#return {
    position: absolute;
    top: 30px;
    right: 20%;
    background: transparent;
    color: #fff;
    border: 2px solid;
    padding: 0.4em;
    border-radius: 100%;
    i {
        font-size: 1.8rem;
    }
    &:hover,
    &:focus,
    &:active {
        background: #00000033;
        cursor: pointer;
    }
}

.show-header {
    transform: translateX(0);
}