.header {
    transition: 1s ease;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 2;
    padding: 2em 1em;
    background: red;
    h1 {
        position: absolute;
        left: -10000px;
    }
}

nav a {
    display: block;
    font-size: clamp(54px, 17vw, 90px);
    color: #fff;
    margin: 2vh auto;
    border-bottom: 1px solid;
    text-shadow: 3px 3px 0px black;
    transform: skewX(-10deg);
    &:hover,
    &:focus,
    &:active {
        text-shadow: none;
    }
}

.show-header,
.header:focus-within {
    transform: translateX(0);
}