#learning {
    display: grid;
    grid-template-columns: 250px 490px;
    place-content: center;
    row-gap: 5px;
    background: var(--color3);
    color: var(--color1);
    min-height: 100vh;
    @include mq(750px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        margin-top: 1em;
        grid-row: 1/6;
        span {
            display: block;
            font-size: 7rem;
            line-height: 90%;
            letter-spacing: -5px;
            text-align: center;
            &:nth-child(2),
            &:last-child {
                margin-top: -25px;
                @include mq(750px) {
                    margin-top: 0;
                }
            }
            &:nth-child(2) {
                font-size: 22rem;
                @include mq(750px) {
                    font-size: 12rem;
                }
            }
        }
    }
    p {
        position: relative;
        left: -4em;
        top: 2em;
        word-spacing: 2px;
        letter-spacing: 0.2px;
        line-height: 130%;
        @include mq(750px) {
            margin: 1em 4px;
        }
        &:first-of-type {
            grid-row: 2/3;
        }
        &:last-of-type {
            grid-row: 3/4;
            @include mq(750px) {
                margin: 0 4px 1em 4px;
            }
        }
    }
}

#fcc,
#cert-links a {
    text-decoration: underline;
}

#cert-links {
    grid-row: 4/5;
    position: relative;
    top: 2em;
    list-style-position: inside;
    @include mq(750px) {
        margin: 0 4px 0 4px;
    }
}

@media screen and (max-width:750px) {
    #learning p,
    #cert-links {
        position: initial;
    }
}

#say-hello {
    grid-area: 6/1/7/3;
    place-self: center;
    padding: 0.5em 2em;
    border: 7px ridge;
    margin: 3em;
    border-radius: 30px;
    &:hover,
    &:focus,
    &:active {
        border: 7px groove;
    }
}