@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;600;700;900&display=swap');
@mixin mq($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

:root {
    --color1: #344059;
    --color2: #A6796F;
    --color3: #E9F1F2;
    --width: 200px;
    --absValue: calc(var(--width)*3/4);
    @include mq(700px) {
        --absValue: calc(var(--width)/2);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: var(--color3);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-btn {
    z-index: 2;
    position: fixed;
    top: -50px;
    left: 50%;
    border: none;
    background: #ff0d0d;
    color: #fff;
    border-radius: 33px;
    padding: 0.4em;
    box-shadow: 0px 0px 6px 0px black;
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), top 1s ease;
    i {
        font-size: 2.2rem;
    }
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.2) rotate(360deg);
    }
}

.show-nav {
    top: 50px;
}

@import 'header';
#three-words span,
#who-am-i span,
#portfolio h2,
#learning h2 span {
    font-family: 'Oswald', sans-serif;
}

.sections {
    min-height: 100vh;
    padding: 1em;
    @include mq(350px) {
        padding: 1px;
    }
}

#home,
#learning {
    color: var(--color3);
    background: var(--color1);
}

#about-me,
#contact {
    color: var(--color2);
}

#home {
    justify-content: space-evenly;
}

#ideology {
    max-width: 500px;
    min-width: 300px;
    margin-top: 1em;
}

#three-words {
    font-size: clamp(60px, 9vw, 100px);
    font-weight: 900;
    span {
        display: block;
        line-height: 95%;
        opacity: 0;
        &:first-child {
            transform: rotate(-90deg);
            transform-origin: bottom left;
        }
        &:nth-child(2) {
            transform: translateX(-100%);
        }
    }
    span#and {
        font-size: 0.5em;
        padding-top: 3%;
    }
}

#three-words span#and,
#who-am-i span:last-child,
#portfolio h2,
.name,
#learning h2 span:nth-child(2) {
    font-weight: 100;
}

#explanation,
#who-am-i p {
    color: var(--color3);
    margin-top: 0.5em;
    font-size: clamp(14px, 1.53vw, 16px);
    line-height: 1.3em;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    opacity: 0;
}

#about-btn {
    width: clamp(36px, 5.5vw, 64px);
    height: clamp(36px, 5.5vw, 64px);
    color: var(--color2);
    border: 3px solid var(--color3);
    border-radius: 100px;
    margin: 2em auto auto 2em;
    background: var(--color3);
    position: relative;
    transition: 300ms ease;
    opacity: 0;
    .fas {
        font-size: clamp(15px, 2.5vw, 28px);
        position: absolute;
        left: 27%;
        transition: inherit;
    }
    &::after {
        content: "About me";
        position: absolute;
        right: 1em;
        opacity: 0;
        font-weight: 600;
    }
}

#about-btn:hover,
#about-btn:focus {
    width: clamp(145px, 17vw, 200px);
    .fas {
        left: 10%;
    }
    &::after {
        transition: opacity 0.5s ease-in;
        opacity: 1;
    }
}

#photo {
    width: clamp(280px, 45vw, 350px);
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid;
    padding: 0.1em;
    margin: 1em;
    opacity: 0;
}

.view-home {
    #three-words {
        span {
            opacity: 1;
            &:first-child {
                transform: rotate(0deg);
                transition: 0.3s ease-out;
            }
            &:nth-child(2) {
                transform: translateX(0);
                transition: 0.4s ease 0.4s;
            }
            &:nth-child(3) {
                transition: 0.1s ease 0.9s;
            }
            &:last-child {
                transition: 0.8s ease-in 1.1s;
            }
        }
    }
    #explanation,
    #about-btn,
    #photo {
        animation: op 0.8s ease 2s forwards
    }
}

@keyframes op {
    to {
        opacity: 1;
    }
}

@import 'about';
@import 'portfolio';
@import 'learning';
@import 'contact';