@mixin mq($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

:root {
    --width: 200px;
    --absValue: calc(var(--width)*3/4);
    @include mq(700px) {
        --absValue: calc(var(--width)/2);
    }
}

html {
    scroll-behavior: smooth;
}

@import 'header';
.sections {
    @include mq(350px) {
        padding: 1px;
    }
}

#about-me {
    color: var(--color2);
}

#explanation,
#who-am-i p {
    color: var(--color3);
    margin-top: 0.5em;
    font-size: clamp(14px, 1.53vw, 16px);
    line-height: 1.3em;
    word-spacing: 1px;
    letter-spacing: 0.3px;
    opacity: 0;
}

#about-btn {
    width: clamp(36px, 5.5vw, 64px);
    height: clamp(36px, 5.5vw, 64px);
    color: var(--color2);
    border: 3px solid var(--color3);
    border-radius: 100px;
    margin: 2em auto auto 2em;
    background: var(--color3);
    position: relative;
    transition: 300ms ease;
    .fas {
        font-size: clamp(15px, 2.5vw, 28px);
        position: absolute;
        left: 27%;
        transition: inherit;
    }
    &::after {
        content: "About me";
        position: absolute;
        right: 1em;
        font-weight: 600;
    }
}

#about-btn:hover,
#about-btn:focus {
    width: clamp(145px, 17vw, 200px);
    .fas {
        left: 10%;
    }
    &::after {
        transition: opacity 0.5s ease-in;
        opacity: 1;
    }
}

#photo {
    width: clamp(280px, 45vw, 350px);
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid;
    padding: 0.1em;
    margin: 1em;
    animation: shake 1s, up 1s;
}

.view-home {
    #three-words {
        span {
            opacity: 1;
            &:first-child {
                transform: rotate(0deg);
                transition: transform 0.3s ease-out 1.4s, opacity 0.3s ease-out 1.4s;
            }
            &:nth-child(2) {
                transform: translateX(0);
                transition: transform 0.4s ease 1.8s, opacity 0.4s ease 1.8s;
            }
            &:nth-child(3) {
                transition: transform 0.1s ease 2.3s, opacity 0.1s ease 2.3s;
            }
            &:last-child {
                transition: transform 0.8s ease-in 2.5s, opacity 0.8s ease-in 2.5s;
            }
        }
    }
    #explanation,
    #about-btn,
    #photo {
        animation: op 0.8s ease 3.4s forwards
    }
}

@keyframes op {
    to {
        opacity: 1;
    }
}

@import 'about';
@import 'portfolio';
@import 'learning';
@import 'contact';
.nav-btn,
#return {
    z-index: 1;
    position: fixed;
    top: -50px;
    left: 50%;
    border: none;
    background: #ff0d0d;
    color: #fff;
    border-radius: 33px;
    padding: 0.4em;
    box-shadow: 0px 0px 6px 0px black;
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28), top 1s ease;
    i {
        font-size: 2.2rem;
    }
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.2) rotate(360deg);
        cursor: pointer;
    }
}

#return {
    z-index: 2;
    top: 15px;
    left: 75%;
    border-radius: 0;
    &:hover,
    &:focus,
    &:active {
        transform: scale(1.2);
    }
    display: none;
}

.show-nav {
    top: 50px;
}