@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;600;700;900&display=swap');
@mixin mq($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

:root {
    --color1: #edecdc;
    --color2: #838150;
    --color3: #006400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: none;
}

.sections {
    padding: 1em;
    @include mq(350px) {
        padding: 1px;
    }
    /* only for design */
    border-bottom: 1px solid black;
}

#home {
    height: 100vh;
    min-height: 500px;
    color: var(--color3);
    background: var(--color1);
    justify-content: space-evenly;
    @include mq(950px) {
        height: initial;
        min-height: 100vh;
    }
}

#ideology {
    max-width: 500px;
    min-width: 300px;
    margin-top: 1em;
}

#three-words {
    font-size: clamp(60px, 9vw, 80px);
    span {
        font-family: 'Oswald', sans-serif;
        display: block;
        line-height: 95%;
    }
    span#and {
        font-size: 0.5em;
        padding-top: 3%;
    }
}


/* font weight classes*/

#three-words {
    font-weight: 900;
}

#who-btn::after {
    font-weight: 600;
}

span#and {
    font-weight: 100;
}

#explanation,
#who-am-i p {
    color: var(--color3);
    margin-top: 0.5em;
    font-size: clamp(13px, 1.4vw, 16px);
    line-height: 1.3em;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

#who-btn {
    width: clamp(36px, 5.5vw, 64px);
    height: clamp(36px, 5.5vw, 64px);
    color: var(--color1);
    border: 3px solid var(--color2);
    border-radius: 100px;
    margin: 2em auto auto 2em;
    background: linear-gradient(245deg, var(--color2) 21%, transparent);
    position: relative;
    transition: 300ms ease;
    .fas {
        font-size: clamp(15px, 2.5vw, 28px);
        position: absolute;
        left: 27%;
        transition: inherit;
    }
    &::after {
        content: "About me";
        position: absolute;
        right: 1em;
        opacity: 0;
    }
}

#who-btn:hover,
#who-btn:focus {
    width: clamp(145px, 17vw, 200px);
    .fas {
        left: 10%;
    }
    &::after {
        transition: opacity 0.5s ease-in;
        opacity: 1;
    }
}

#photo {
    width: clamp(280px, 45vw, 350px);
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid;
    padding: 0.1em;
    margin: 1em;
}

#about-me {
    color: var(--color1);
    background: var(--color3);
    min-height: 100vh;
}

#who-am-i {
    margin: 4em 0;
    h2 {
        min-width: 308px;
        font-size: 9rem;
        letter-spacing: -5px;
        line-height: 90%;
        text-align: right;
    }
    span {
        font-family: 'Oswald', sans-serif;
        display: inline-block;
    }
    span:last-child {
        font-size: 2.1em;
        font-weight: 100;
        margin-left: -0.14em;
    }
    p {
        display: inline-block;
        color: var(--color1);
        width: clamp(255px, 35%, 415px);
        line-height: 150%;
    }
}

#see-my-work {
    padding: 1rem;
    margin: 1rem;
    position: relative;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-style: solid;
        transition: 1s ease;
        transform-origin: right;
    }
    &::before {
        border-width: 4px 4px 0 0;
        transition: width 0.5s ease, height 0.5s 0.5s ease;
    }
    &::after {
        border-width: 0 0 4px 4px;
        transition: width 0.5s 0.5s ease, height 0.5s ease;
    }
    &:hover {
        // background: var(--color1);
        // color: var(--color3);
        &::before,
        &::after {
            width: 0;
            height: 0;
        }
        &::before {
            transition: width 0.5s 0.5s ease, height 0.5s ease;
        }
        &::after {
            transition: width 0.5s ease, height 0.5s 0.5s ease;
        }
    }
}

#portfolio {
    display: none;
    padding: 1%;
}

#projects-wrapper {
    height: 74%;
    width: 100%;
    margin: 1% auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding-bottom: 2em;
}

.projects {
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid var(--color3);
    border-radius: 10px;
    position: relative;
}

.project-img {
    width: 24em;
    height: 14em;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    border-radius: 10px 10px 0 0;
}

.name {
    font-size: 2em;
    font-weight: 100;
    font-family: "Lato", sans-serif;
}

.name::first-letter {
    font-size: 1.3em;
}

.description {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 25px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 28px;
    word-spacing: 4px;
    letter-spacing: 1px;
    background: aliceblue;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.projects:hover {
    background: var(--color1);
    box-shadow: 8px 8px 10px #cccccc, -8px -8px 10px #ffffff;
    .description {
        opacity: 1;
        transform: scaleX(1);
    }
}

#get-in-touch {
    align-self: flex-start;
    margin: auto 2em;
}

.vibrate {
    animation: vibrate 0.8s 2s;
}

@keyframes vibrate {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

#contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em 3em;
    font-size: 1.2em;
    ul {
        list-style-type: none;
        margin: 2em auto;
        text-align: center;
        li {
            width: fit-content;
            margin: auto;
            margin-bottom: 0.5em;
            a {
                flex-direction: row;
                padding: 0.3em;
            }
            i {
                font-size: 1.5em;
                padding-left: 0.4em;
            }
        }
        li:last-child {
            margin-bottom: auto;
        }
    }
    section:last-child {
        text-align: right;
    }
    a {
        position: relative;
        transition: 0.5s ease;
    }
    div {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color3);
        z-index: -1;
        transform-origin: right;
        transform: scaleX(0);
        transition: 0.5s ease;
    }
    a:hover {
        color: var(--color1);
        div {
            transform: scaleX(1);
        }
    }
}