@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;600;900&display=swap');
:root {
    --color1: #228b22;
    --color2: #7c7c4d;
    --color3: #e7e6db;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.column {
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: none;
}

.sections {
    /* only for design */
    border-bottom: 1px solid black;
}

#home {
    height: clamp(500px, 100vh, 900px);
    color: var(--color1);
    background: var(--color3);
    padding: 2em;
    justify-content: space-evenly;
}

#ideology {
    margin-bottom: 2em;
    * {
        width: 500px;
        margin: auto;
    }
}

#three-words {
    font-size: 5em;
    span {
        display: block;
        height: 1em;
    }
    span#and {
        font-size: 0.5em;
        padding-top: 0.25em;
    }
}


/* font weight classes*/

#three-words {
    font-weight: 900;
}

#who-btn::after {
    font-weight: 600;
}

span#and {
    font-weight: 100;
}

#explanation {
    color: var(--color2);
    margin-top: 0.5em;
    font-size: 0.95em;
    line-height: 1.3em;
    word-spacing: 1px;
    letter-spacing: 0.3px;
}

#who-btn {
    display: inline-block;
    width: 4em;
    border: 3px solid var(--color1);
    border-radius: 100px;
    padding: 1em 1.2em;
    margin: 2em auto auto 0;
    background: var(--color3);
    position: relative;
    transition: 300ms ease-out;
    .fas {
        width: fit-content;
        font-size: 1.5em;
    }
    &::after {
        content: "About me";
        position: absolute;
        right: 1em;
        opacity: 0;
    }
}

#who-btn:hover {
    background: linear-gradient( 254deg, var(--color2) 21%, transparent);
    color: var(--color3);
    border-color: var(--color2);
    width: 12em;
    &::after {
        transition: opacity 0.5s ease-in;
        opacity: 1;
    }
}

#photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid;
    padding: 0.1em;
}

#intro-wrapper {
    height: 78%;
    width: 35%;
    margin: 5% 2%;
    padding: 2%;
    /* only for design */
    border: 1px solid green;
}

#intro {
    justify-content: space-between;
    height: 45%;
}

#intro-text {
    align-items: initial;
    span {
        font-size: 1.5rem;
        line-height: 40px;
    }
}

#name {
    vertical-align: text-top;
    padding-left: 3px;
    white-space: nowrap;
    span {
        display: inline-block;
        white-space: nowrap;
        font-size: 3.2rem;
        font-weight: 900;
        transition-duration: 0.2s;
    }
    span:hover {
        transform: translate(-2px, -3px);
        text-shadow: 1px 1px 0px #cccccc, 2px 2px 0 #cccccc, 3px 3px 0 #cccccc, 4px 4px 0 #cccccc;
        transition: transform 0.2s ease, text-shadow 0.2s ease;
    }
}

.cta-button-1 {
    font-weight: 900;
    color: var(--color3);
    padding: 1em 1.5em;
    border-radius: 5px;
    font-size: 1.2em;
    border: var(--color3) 2px solid;
}

.cta-button-1:hover,
.cta-button-1:focus,
.cta-button-1:active {
    color: var(--color1);
    background-color: var(--color3);
}

#about-me {
    color: var(--color3);
    background: var(--color1);
    div {
        border: 5px solid var(--color3);
        height: calc(93% - 10px);
        width: 92%;
        margin: 2% auto;
        padding: 1em 2.5em 2.5em 2.5em;
        justify-content: space-evenly;
        position: relative;
        h2 {
            position: absolute;
            top: -4%;
            left: 5%;
            background: var(--color1);
        }
    }
}

h2 {
    font-size: 2.5rem;
    padding: 0 0.35em;
    font-weight: 600;
}

.para {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    width: 65%;
    word-spacing: 3px;
    line-height: 30px;
    letter-spacing: 0.5px;
    opacity: 0;
}

.para:nth-of-type(1) {
    align-self: flex-start;
    transform: translateX(50%);
}

.para:nth-of-type(2) {
    align-self: flex-end;
    transform: translateX(-50%);
    transition-delay: 0.2s;
}

#about-me .slide-in-view {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#look-into-portfolio {
    color: inherit;
    font-size: 2em;
    word-spacing: 5px;
    margin-bottom: -8%;
    height: 1.5em;
    position: relative;
}

#look-into-portfolio::after {
    content: '';
    width: 25px;
    height: 25px;
    border: solid var(--color3);
    border-width: 0px 3px 3px 0px;
    position: absolute;
    bottom: -55%;
    right: 50%;
    transform: translate(50%, 0) rotateZ(45deg) skew(-20deg, -20deg);
    animation: up-down 1s ease-in-out infinite alternate;
}

@keyframes up-down {
    to {
        transform: translate(50%, -15px) rotateZ(45deg) skew(-20deg, -20deg);
    }
}

#portfolio {
    padding: 1%;
}

#projects-wrapper {
    height: 74%;
    width: 100%;
    margin: 1% auto;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding-bottom: 2em;
}

.projects {
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid var(--color3);
    border-radius: 10px;
    position: relative;
}

.project-img {
    width: 24em;
    height: 14em;
    object-fit: cover;
    image-rendering: -webkit-optimize-contrast;
    border-radius: 10px 10px 0 0;
}

.name {
    font-size: 2em;
    font-weight: 100;
    font-family: "Lato", sans-serif;
}

.name::first-letter {
    font-size: 1.3em;
}

.description {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 25px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 28px;
    word-spacing: 4px;
    letter-spacing: 1px;
    background: aliceblue;
    border-radius: 10px;
    transform-origin: left;
    transform: scaleX(0);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.projects:hover {
    background: var(--color1);
    box-shadow: 8px 8px 10px #cccccc, -8px -8px 10px #ffffff;
    .description {
        opacity: 1;
        transform: scaleX(1);
    }
}

#get-in-touch {
    align-self: flex-start;
    margin: auto 2em;
}

.vibrate {
    animation: vibrate 0.8s 2s;
}

@keyframes vibrate {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }
    15% {
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

#contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em 3em;
    font-size: 1.2em;
    ul {
        list-style-type: none;
        margin: 2em auto;
        text-align: center;
        li {
            width: fit-content;
            margin: auto;
            margin-bottom: 0.5em;
            a {
                flex-direction: row;
                padding: 0.3em;
            }
            i {
                font-size: 1.5em;
                padding-left: 0.4em;
            }
        }
        li:last-child {
            margin-bottom: auto;
        }
    }
    section:last-child {
        text-align: right;
    }
    a {
        position: relative;
        transition: 0.5s ease;
    }
    div {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color3);
        z-index: -1;
        transform-origin: right;
        transform: scaleX(0);
        transition: 0.5s ease;
    }
    a:hover {
        color: var(--color1);
        div {
            transform: scaleX(1);
        }
    }
}