@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;900&display=swap');
:root {
    --color1: white;
    --color2: brown;
    --color3: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.header {
    display: none;
}

.sections {
    height: 100vh;
    /* only for design */
    border: 1px solid black;
}

#home {
    color: var(--color3);
}

#intro-wrapper {
    height: 78%;
    width: 35%;
    margin: 5% 2%;
    padding: 2%;
    /* only for design */
    border: 1px solid green;
}

#intro {
    justify-content: space-between;
    height: 45%;
}

#intro-text {
    align-items: initial;
    span {
        font-size: 1.5rem;
        line-height: 40px;
    }
}

#name {
    vertical-align: text-top;
    padding-left: 3px;
    span {
        display: inline-block;
        white-space: nowrap;
        font-size: 3.2rem;
        font-weight: 900;
        transition-duration: 0.2s;
    }
    span:hover {
        transform: translate(-2px, -3px);
        text-shadow: 1px 1px 0px #cccccc, 2px 2px 0 #cccccc, 3px 3px 0 #cccccc, 4px 4px 0 #cccccc;
        transition: transform 0.2s ease, text-shadow 0.2s ease;
    }
}

#know-more {
    font-weight: 900;
    color: var(--color3);
    padding: 1em 1.5em;
    border-radius: 5px;
    font-size: 1.2em;
    border: var(--color3) 2px solid;
}

#know-more:hover,
#know-more:focus,
#know-more:active {
    color: var(--color1);
    background-color: var(--color3);
}

#about-me {
    color: var(--color3);
    background: var(--color1);
    div {
        border: 5px solid var(--color3);
        height: calc(93% - 10px);
        width: 92%;
        margin: 2% auto;
        padding: 1em 2.5em 2.5em 2.5em;
        justify-content: space-evenly;
        position: relative;
        h2 {
            font-size: 2.5rem;
            padding: 0 0.35em;
            position: absolute;
            top: -4%;
            left: 5%;
            background: var(--color1);
            font-weight: 100;
        }
    }
}

.para {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    width: 65%;
    word-spacing: 3px;
    line-height: 30px;
    letter-spacing: 0.5px;
    opacity: 0;
}

.para:nth-of-type(1) {
    align-self: flex-start;
    transform: translateX(50%);
}

.para:nth-of-type(2) {
    align-self: flex-end;
    transform: translateX(-50%);
    transition-delay: 0.2s;
}

#about-me .slide-in-view {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

#look-into-portfolio {
    color: inherit;
    font-size: 2em;
    word-spacing: 5px;
    margin-bottom: -8%;
    height: 1.5em;
    position: relative;
}

#look-into-portfolio::after {
    content: '';
    width: 25px;
    height: 25px;
    border: solid var(--color3);
    border-width: 0px 3px 3px 0px;
    position: absolute;
    bottom: -55%;
    right: 50%;
    transform: translate(50%, 0) rotateZ(45deg) skew(-20deg, -20deg);
    animation: up-down 1s ease-in-out infinite alternate;
}

@keyframes up-down {
    to {
        transform: translate(50%, -15px) rotateZ(45deg) skew(-20deg, -20deg);
    }
}
